:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 36px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #0056b3;
}
button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.icon {
  color: #007bff;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: translateY(0px);
}
